<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wibo.cloud.custom.mapper.StudentMapper">
    <select id="selectBatch" resultType="wibo.cloud.common.pojo.Student">
        select * from student where
        age in
        <foreach collection="age" item="aaa" separator = "," open="(" close=")">
            <foreach collection="aaa" item="bbb" separator = "," open="(" close=")">
                #{bbb}
            </foreach>
        </foreach>
        and name = #{name}
    </select>
</mapper>