<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wibo.cloud.custom.mapper.StudentMapper">
    <select id="selectBatch" resultType="wibo.cloud.common.pojo.Student">
        select * from student where
        age in
        <foreach collection="age" item="aaa" separator = "," open="(" close=")">
           asdasdasd
            <foreach collection="aaa" item="bbb" separator = "," open="(" close=")">
            </foreach>
            <foreach collection="aaa.age" item="bbb" separator = "," open="(" close=")">
            </foreach>
            asdasdasd
        </foreach>




        <if test="list != null and list.size() > 0">
            and id in
            <foreach collection="list" item="aaa" separator = "," open="(" close=")">
                #{aaa}
            </foreach>
        </if>
        and name = #{name}
    </select>
</mapper>