<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wibo.cloud.custom.mapper.TeacherMapper">
    <update id="update">
        update teacher set name = 'ooo' where id = #{id}
    </update>
    <select id="forup" resultType="wibo.cloud.common.pojo.Theacher">
       select * from teacher where name = #{name} for update
    </select>
    <select id="forupId" resultType="wibo.cloud.common.pojo.Theacher">
       select * from teacher where id = #{id} for update
    </select>
    <resultMap id="base" type="wibo.cloud.common.pojo.Theacher">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
    </resultMap>

    <select id="selectById" resultMap="base">
         select * from teacher where id = #{id}
    </select>

    <insert id="insert">
        insert into teacher values (4,#{name},12)
    </insert>
    <insert id="insertId">
        insert into teacher values (#{id},'aaaaaaaa',12)
    </insert>

    <select id="select" resultType="wibo.cloud.common.pojo.Theacher">
       select * from teacher where id = #{id}
    </select>

    <select id="selectN" resultType="wibo.cloud.common.pojo.Theacher">
       select * from teacher where name = #{name}
    </select>
    <select id="selectList" resultMap="base">
        select sum(id),id from teacher
    </select>

    <update id="updateByName">
        update teacher set age = 100 where name in (#{name})
    </update>

    <update id="updateAge">
        update teacher set name = 'asdadasdasdasd' where age = #{name}
    </update>
    <update id="updateName">
        update teacher set age = age + 1 where age = #{id}
    </update>
    <update id="updateN">
        update teacher set age = 6666 where age = #{age}
    </update>
    <update id="updateA">
        update teacher set age = 345 where name = #{name}
    </update>
    <delete id="delete">
        delete from teacher where id = #{id}
    </delete>
</mapper>