<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wibo.cloud.custom.mapper.TeacherMapper">
    <update id="update">
        update teacher set name = 'ooo' where id = #{id}
    </update>
    <select id="forup" resultType="wibo.cloud.common.pojo.Theacher">
       select * from teacher where name = #{name} for update
    </select>
    <select id="forupId" resultType="wibo.cloud.common.pojo.Theacher">
       select * from teacher where id = #{id} for update
    </select>
    <resultMap id="base" type="wibo.cloud.common.pojo.Theacher">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
    </resultMap>

    <insert id="insert">
        insert into teacher values (4,#{name},12)
    </insert>
    <insert id="insertId">
        insert into teacher values (#{id},'aaaaaaaa',12)
    </insert>

    <select id="select" resultType="wibo.cloud.common.pojo.Theacher">
       select * from teacher
    </select>

    <select id="selectList" resultMap="base">
        select sum(id),id from teacher
    </select>
</mapper>